# Add your project-wide dependencies here
webcolors
typer[all]
-e ./packages/color_to_hex_cli
-e ./packages/git_helper_cli
-e ./packages/countdown_timer_cli
-e ./packages/simple_calculator_cli
-e ./packages/bmi_calculator_cli
-e ./packages/hangman_game_cli
-e ./packages/word_scramble_cli
